html{
   color-scheme: light;
}

body {
    font-family: 'Poppins', serif;
    font-size: 1.1rem;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    padding-bottom: 2rem;
    background-color: #222120;
    color: #F8F6F5;
}

h1{
    font-size: 2rem;
    margin-bottom: 1rem;
}

p{
    margin-top: 0;
}

h4{
    margin-bottom: 0.5rem;
}

.card{
    border-top: 1px solid rgb(255, 255, 255);
    width: 100%;
    padding-bottom: 1rem;
    margin-top: 1rem;
}

.container > h1{
    align-self: flex-start;
}

.container{
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: center;
    width: 75ch;
    padding-top: 2rem;
}

#projects{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link{
    align-self: flex-start;
    color: #bfbfbf;
    transition: color 250ms, transform 150ms;
}

.link:hover{
    color: #F8F6F5;
    transform: translateY(-1px);
}

.buttons {
    align-self: flex-end;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: auto;
}

.spacer{
    height: 4rem;
}

.button{
    text-decoration: none;
    text-align: center;
    background-color: #dcdcdc;
    color: #000000;
    padding: 5px 12px 5px 12px;
    border-radius: 5px;
    border: 1px solid black;
    transition: filter 220ms, border-radius 300ms, transform 200ms;
}

.button:hover{
    transform: translateY(-1px);
    filter: brightness(1.1);
    border-radius: 5px;
}

@media only screen and (max-width: 980px) {

    #aboutme{
        padding-top: 0;
    }

    .container{
        height: min-content;
        padding-top: 0;
        width: 80%;
    }

    .container-row{
        flex-direction: column;
        height: auto;
    }
}